.map .highcharts-title {
    display: flex !important;
    width: 100% !important;
    padding-bottom: 20px;
    font-weight: 'normal' !important;
    border-bottom: 1px dashed black;
}

.map {
    display: flex;
}