.pie-chart .highcharts-title {
    display: flex !important;
    width: 100% !important;
    padding-bottom: 20px;
    font-weight: 'normal' !important;
    border-bottom: 1px dashed black;
}

.pie-chart {
    height: 477px;
    display: flex;
    width: 556px;
}